@import "tailwindcss";

body {
	font-family: 'Outfit Variable', sans-serif;
}

:root {
	font-size: 14px;
	font-weight: 300;
	color: #4b5563;
	background-color: #f9fafc;
}

#md-editor-v-16-preview {
	overflow-y: auto !important;
}

.md-editor-code-head{
	z-index: 10 !important;
}